/*0072bc*/

body {
	border-top: 2px solid #0072bc;
}

h1 {
	color: #0072bc;
}

a {
	color: #0072bc;
}

a:hover,
a:active {
	color: #004470;
}

.dropdown-menu,
.navbar-nav li,
.container-fluid {
	background-color: #0072bc;
}

.nav li.active > a,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    background-color: #004470;
}

.dropdown-menu li {
	background-color: #fff;
}

.dropdown-menu li a:hover {
	background-color: #029bff;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
	background-color: #004470;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    background-color: #004470;
}

.container.optional .content {
	border-left-color: #004470;
}

.sidebar-nav .dropdown-menu li.active a,
.sidebar-nav .dropdown-menu li a:hover,
.sidebar-nav .dropdown-menu li a:active {
	background-color: #0072bc;
}

.sidebar-nav .dropdown-menu li.active a:hover,
.sidebar-nav .dropdown-menu li.active a:active {
	color: #004470;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
	background-color: #004470;
}

.content-sidebar aside,
.primary-sidebar aside {
	border-left-color: #004470;
}

.comment-form input,
.comment-form textarea {
	border-color: #029bff;
}
.comment-form .form-submit input {
	border-color: #2e3192;
	background-color: #0071bc;
}
.comment-form .form-submit input:hover {
	background-color: #029bff;
}
.comment-form .required {
	color: #029bff;
}

#footer {
	background-color: #0072bc;
	border-top: 2px solid #2e3192;
}

.bottom-blocks div.block {
	border: 2px solid #0072bc;
}

.stan-se-clenem {
	background-color: #0072bc;
}

.glyphicon {
	color: #2e3192;
}

@media (max-width: 980px) {
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
		background-color: #0072bc;
	}

	.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
		background-color: #0072bc;
	}
}
