/*d4145a*/

body {
	border-top: 2px solid #d4145a;
}

h1 {
	color: #d4145a;
}

a {
	color: #d4145a;
}

a:hover,
a:active {
	color: #aa0542;
}

.dropdown-menu,
.navbar-nav li,
.container-fluid {
	background-color: #d4145a;
}

.nav li.active > a,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    background-color: #aa0542;
}

.dropdown-menu li {
	background-color: #fff;
}

.dropdown-menu li a:hover {
	background-color: #dd3e79;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    background-color: #aa0542;
}

.sidebar-nav .dropdown-menu li.active a,
.sidebar-nav .dropdown-menu li a:hover,
.sidebar-nav .dropdown-menu li a:active {
	background-color: #d4145a;
}

.sidebar-nav .dropdown-menu li.active a:hover,
.sidebar-nav .dropdown-menu li.active a:active {
	color: #aa0542;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
	background-color: #aa0542;
}

#footer {
	background-color: #d4145a;
	border-top: 2px solid #9e005d;
}

.bottom-blocks div.block {
	border: 2px solid #d4145a;
}

.stan-se-clenem {
	background-color: #d4145a;
}